.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  column-gap: 16px;
  .space {
    flex: 1;
  }
  &.center {
    justify-content: center;
  }
}

$min-width: 200px;
$grid-gap: 20px;

/* 2 Column Layouts */
@container grid-wrapper (min-width: #{$min-width*2 + $grid-gap}) and (max-width: #{$min-width*3 + $grid-gap*2 - 1px}) {

  /* Dealing with 1 orphan item */
  .author-block:last-child:nth-child(2n + 1) {
    grid-column-end: 4;
  }
}

/* 3 Column Layouts */
@container grid-wrapper (min-width: #{$min-width*3 + $grid-gap*2}) and (max-width: #{$min-width*4 + $grid-gap*3 - 1px}) {

  /* Dealing with 1 orphan item */
  .author-block:last-child:nth-child(3n + 1) {
    grid-column-end: 5;
  }

  /* Dealing with 2 orphan items */
  .author-block:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
}

/* 4 Column Layouts */
@container grid-wrapper (min-width: #{$min-width*4 + $grid-gap*3}) and (max-width: #{$min-width*5 + $grid-gap*4 - 1px}) {

  /* Dealing with 1 orphan item */
  .author-block:last-child:nth-child(4n + 1) {
    grid-column-end: 6;
  }

  /* Dealing with 2 orphan items */
  .author-block:nth-last-child(2):nth-child(4n + 1) {
    grid-column-end: 5;
  }

  /* Dealing with 3 orphan items */
  .author-block:nth-last-child(3):nth-child(4n + 1) {
    grid-column-end: 4;
  }
}

/* 5 Column Layouts */
@container grid-wrapper (min-width: #{$min-width*5 + $grid-gap*4}) and (max-width: #{$min-width*6 + $grid-gap*5 - 1px}) {

  /* Dealing with 1 orphan item */
  .author-block:last-child:nth-child(5n + 1) {
    grid-column-end: 7;
  }

  /* Dealing with 2 orphan items */
  .author-block:nth-last-child(2):nth-child(5n + 1) {
    grid-column-end: 6;
  }

  /* Dealing with 3 orphan items */
  .author-block:nth-last-child(3):nth-child(5n + 1) {
    grid-column-end: 5;
  }

  /* Dealing with 4 orphan items */
  .author-block:nth-last-child(4):nth-child(5n + 1) {
    grid-column-end: 4;
  }
}

/* 6 Column Layouts */
@container grid-wrapper (min-width: #{$min-width*6 + $grid-gap*5}) {

  /* Dealing with 1 orphan item */
  .author-block:last-child:nth-child(6n + 1) {
    grid-column-end: 8;
  }

  /* Dealing with 2 orphan items */
  .author-block:nth-last-child(2):nth-child(6n + 1) {
    grid-column-end: 7;
  }

  /* Dealing with 3 orphan items */
  .author-block:nth-last-child(3):nth-child(6n + 1) {
    grid-column-end: 6;
  }

  /* Dealing with 4 orphan items */
  .author-block:nth-last-child(4):nth-child(6n + 1) {
    grid-column-end: 5;
  }

  /* Dealing with 5 orphan items */
  .author-block:nth-last-child(5):nth-child(6n + 1) {
    grid-column-end: 4;
  }
}

/* 7 Column Layouts */
@container grid-wrapper (min-width: #{$min-width*7 + $grid-gap*6}) {
  .author-block:last-child:nth-child(7n + 1) {
    grid-column-end: 9;
  }

  .author-block:nth-last-child(2):nth-child(7n + 1) {
    grid-column-end: 8;
  }

  .author-block:nth-last-child(3):nth-child(7n + 1) {
    grid-column-end: 7;
  }

  .author-block:nth-last-child(4):nth-child(7n + 1) {
    grid-column-end: 6;
  }

  .author-block:nth-last-child(5):nth-child(7n + 1) {
    grid-column-end: 5;
  }

  .author-block:nth-last-child(6):nth-child(7n + 1) {
    grid-column-end: 4;
  }

  .author-block:nth-last-child(7):nth-child(7n + 1) {
    grid-column-end: 3;
  }
}
